body {
  background: #EAE4DF;
  color: #2E2B28;
  font-family: Garamond;
  margin: 0;
  font-size: 16px
}

header {
  width: 100%;
  height:10em;
  background-color: #273713;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  
}

#camera-logo {
  width: min(15vw, 7em);
  min-width: 6em;
  padding: min(5vw, 2rem);
  
}

h1 {
  color: #86B286;
  font-family: Courier New ;
  font-size: min(5vw, 2.2em);
  border-right: 2px solid;
  border-color: #435C43;
  padding: 0.5em;
  letter-spacing: 2px;
  text-align: right;
  font-weight: bold;
  
}

h2 {
  color: #6F916F;
  font-family: Courier New ;
  font-size: min(5vw, 1em);
  font-style: italic;
  padding: 1em
}


#image {
  width: 80%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 10px
}

#img-caption {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
  font-size: 18px;
  font-style: italic;
}

#tribute-info {
  background-color: #CFD8C9;
  padding: 0.5em 4em 2em 4em;
  width: 70%;
  max-width: 800px;
  display: block;
  margin: 2.5em auto

}

h3 {
  font-size: 30px;
  text-align: center;
}

p {
  text-align: left;
  padding: 0 1em;
}

span {
  font-size: 32px;
}

h4 {
  margin: 0 auto;
  text-align: center;
  padding: 2em 0 4em 0;
  font-family: Courier New;
  width: 60%;
  max-width: 500px
  
}